<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set X-Frame-Options "ALLOWALL"
    Header set X-Content-Type-Options "nosniff"

    Header set Content-Security-Policy "
        default-src 'self' *;
        script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://cdn.jsdelivr.net/npm;
        style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
        img-src 'self' data: https://* http://*;
        font-src 'self' data: https://fonts.gstatic.com;
        connect-src 'self' *;
        media-src 'self' https://*;
    "
</IfModule>
