<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirige todo a index.php si no es archivo o carpeta
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Opcional: Manejo de cabeceras de seguridad (puedes combinar con tu mod_headers)
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        Header set X-Frame-Options "ALLOWALL"
        Header set X-Content-Type-Options "nosniff"
    </IfModule>
</IfModule>
